<div class="container top-buffer">
    <div class="row">
        <canvas id="myCanvas" style="border:1px solid #d3d3d3;height:450px; width:1200px">
            Your browser does not support the HTML5 canvas tag.</canvas>
        <div class="turtle">
        </div>        
    </div>
    <footer>
        <div class="row">
            <div class="col-md-12 footer-section" style="background:rgba(0,0,0,0.9);">
                <p class="terminal">root@SpectaLinux:-#</p>
            </div>
        </div>
    </footer>
</div>
